html, body {
    background-color: #728CA6;
    box-sizing: border-box;
    width: 100%;
    margin: 0;
    padding: 0;
    min-width: 320px;
}

h1, h2, h3 {
    color: white;
    font-family: 'Francois One', sans-serif;
}

.centerText {
    text-align: center;
}

p, ul li {
    color: white;
    font-family: 'Open Sans', sans-serif;
}

#container {
    width: 100%;
    background-color: #4A6B8A;
    margin: 0 auto;
    padding: 5px 0px 5px 0px;
}

.main-sections {
    background-color: #2A4D6E;
    width: 90%;
    margin: 20px auto;
    padding: 10px;
    border-radius: 5px;
}

h1, h2, h3 {
    padding: 10px;
}

.personal-info-table {
    border-spacing: 5px;
    font-family: 'Open Sans', sans-serif;
    margin: 0 auto;
    padding-bottom: 10px;
    width: 65%;
}

 td {
    background-color: #133353;
    padding: 10px;
    color: white;
}

.table-class {
    overflow-x: auto;
}

.sub-sections {
    background-color: #133353;
    width: 90%;
    margin: 20px auto 20px auto;
    padding: 10px;
}

#personal-image {
    width: 100px;
    display: block;
    border: 1px solid white;
    margin: 0 auto;
}

p {
    display: inline;
    text-align: justify;
}

a:link, a:visited {
    color: white;
    font-weight: bold;
}

@media screen and (min-width: 1200px) {
    #container {
        width: 1200px;
    }
}